# dependencies
**/node_modules
/.pnpm
/.yarn

# Next.js build output
/apps/web/.next/
/apps/web/out/

# NestJS build output
/apps/api/dist/

# Environment files
.env
.env*.local
apps/api/.env

# TypeScript / Prisma cache
*.tsbuildinfo
next-env.d.ts

# OS & IDE junk
.DS_Store
*.pem
.vscode/
.idea/

# Local Uploads
/apps/api/uploads/

