# PostgreSQL Database Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/photopedia_db?schema=public"

# JWT Secret Configuration
JWT_SECRET="photopedia_secure_jwt_secret_key_2026"
JWT_EXPIRES_IN="7d"

# Server Port
PORT=4000
